@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 17% 14%;

    --card: 0 0% 100%;
    --card-foreground: 180 17% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 17% 14%;

    --primary: 165 59% 30%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 163 39% 49%;

    --secondary: 163 39% 49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 156 18% 90%;
    --muted-foreground: 192 10% 41%;

    --accent: 156 18% 90%;
    --accent-foreground: 180 17% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 156 18% 90%;
    --input: 156 18% 90%;
    --ring: 165 59% 30%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 165 40% 8%;
    --foreground: 0 0% 98%;

    --card: 165 30% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 165 30% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 166 93% 50%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 166 61% 50%;

    --secondary: 165 20% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 165 20% 15%;
    --muted-foreground: 185 10% 60%;

    --accent: 165 20% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 165 20% 20%;
    --input: 165 20% 20%;
    --ring: 166 93% 50%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}